th{
    background-color: rgb(46, 46, 46);
    color: white;
    margin: none;
    padding: none;
}

td{
    margin: none;
    width: none;
    padding: none;
    border: 1px solid;
}

table{
    border-collapse: collapse;
}