<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
                </li>
                <li>
                    <a class="navbar-brand" href="{% url 'admin:index' %}">ADMIN</a>
                </li>
                <li>
                    <a class="navbar-brand" href="{% url 'basic_app:other' %}">OTHER</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}
            
        {% endblock %}
    </div>

</body>
</html>